# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.envrc

# Logs
*.log
app.log

# IDE / editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Local simulation / deployment
.deploy_local_sim/
.__sandbox_deploy__/
